
<body>
  <section class="home">
  <div class="home-content">
      <h1>👋 Hey there,We are Starlet Household Decor
      </h1><br>
      <h3> Why Choose Us?</h3>
      <p>  Exceptional Quality | Extensive Selection | Personalized Services
      </p>
  </div>
  <div class="home-sci">
      <a href="https://github.com/brimohacks28"><i class="fa-brands fa-github" style="color: #0b61f4;"></i></a>
      <a href="https://twitter.com/imohoods"><i class="fa-brands fa-twitter" style="color: #0c39ed;"></i></a>
      <a href="https://www.linkedin.com/in/brian-maema/"><i class="fa-brands fa-linkedin-in" style="color: #0c39ed;"></i></a>
  </div>
  <span class="home-imgHover"></span>
</section>
</body>

<!--  End of  the Page -->
