<div class="banner">
</div>
<!--step-->
<div class="container  mt-5 mb-4">
  <h1 class="text-center"><span class="highlight" ></span></h1>
  <div class="row mb-5">
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1> Starlet </h1>
      <p></p>
      </div>

    </div>
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1>Household </h1>
      <p></p>
      </div>

    </div>
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1> Decor </h1>
      <p></p>
      </div>
    </div>
  </div>
</div>

<!--Productbox-->
<div class="container mt-4 mb-4">
  <h1 class="text-center"><span class="highlight" >Featured Products</span></h1>
  <div class="row">
    <div class="col-lg-3 mt-3" *ngFor="let pd of ProductData; index as i">
      <div class="productbox" *ngIf="i<=7">
        <img src="{{pd.ProductImg}}"/>
        <h1>{{pd.ProductName}}</h1>
        <p>{{pd.ProductPrice |currency:" ksh "}}</p>
      </div>
    </div>
  </div>
</div>
<a routerLink="decor" class="viewmorebtn"> View More </a>





